body{
  background: gainsboro;
}

.container{
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 70px;
}

img{
  width: 100%;
  aspect-ratio: 1;
}